@import url("https://fonts.googleapis.com/css2?family=Bitter:wght@400;500;600;700&family=Caveat&family=Inter:wght@400;600;700&family=Poppins:wght@300;400;500;600;700;800&family=Vina+Sans&display=swap");

html {
  min-height: 100vh;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}

@media (max-width: 425px) {
  html {
    scroll-snap-type: none;
    scroll-behavior: none;
  }
  section {
    scroll-snap-align: none;
  }
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

section {
  scroll-snap-align: start;
}

#canvas1 {
  position: absolute;
  top: 0;
  left: 0;
}

::-webkit-scrollbar {
  display: none;
}

.cover-logo {
  display: flex;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  width: 18rem;
  position: relative;
}

.logo {
  width: 12rem;
  position: relative;
}

a {
  text-decoration: none;
}

body {
  font-family: "Poppins", sans-serif;
  /* background-image: url("images/Scratch3.png"); */
  background-image: url("https://www.transparenttextures.com/patterns/cubes.png");
  /* background-size: cover; */
  background-repeat: repeat;
  background-attachment: fixed;
  background-position: center;
  min-height: 100vh;
  background-color: #010101;
}

nav {
  max-width: 1536px;
  margin-left: auto;
  margin-right: auto;
  padding: 0.5rem 0.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
}

.nav-links {
  list-style: none;
  display: flex;
  align-items: center;
  padding-left: auto;
  padding-right: auto;
  gap: 3rem;
  text-shadow: 0.5px 0.5px;
  font-size: 20px;
  background: rgba(0, 0, 0, 0.3);
  z-index: 1;
}

@media (max-width: 990px) {
  .nav-links {
    font-size: 1rem;
  }
  .logo {
    max-width: 150px;
  }
}

.link a {
  position: relative;
  padding-bottom: 0.75rem;
  color: #dcdcdc;
}

.link a::after {
  content: "";
  position: absolute;
  height: 2px;
  width: 0;
  bottom: 0;
  left: 0;
  background-color: #4cba4c;
  transition: all 0.3s ease;
}

.link a:hover::after {
  width: 70%;
}

.button-30 {
  align-items: center;
  appearance: none;
  background-color: #4cba4c;
  border-radius: 4px;
  border-width: 0;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
  box-sizing: border-box;
  color: #090900;
  cursor: pointer;
  display: inline-flex;
  font-family: "Poppins", sans-serif;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow 0.15s, transform 0.15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow, transform;
  font-size: 18px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.button-30:focus {
  box-shadow: #040404 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
}

.button-30:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #040404 0 -3px 0 inset;
  transform: translateY(-2px);
  background-color: #34643c;
}

.button-30:active {
  box-shadow: #040404 0 3px 7px inset;
  transform: translateY(2px);
}

.btn:hover {
  background-color: #34643c;
}

.container {
  max-width: 1200px;
  margin: auto;
  padding: 5rem 7rem;
  color: #dcdcdc;
}

/* header typing */

.intro {
  font-size: 2rem;
  color: #dcdcdc;
  font-weight: 600;
}

.intro span {
  position: relative;
}

.intro span::before {
  content: "";
  right: -8px;
  top: 50%;
  position: absolute;
  height: 30px;
  width: 2px;
  transform: translateY(-45%);
  animation: blink 0.7s initial;
}

.intro span.stop-blinking::before {
  animation: none;
}

@keyframe blink {
  50% {
    opacity: 0;
  }
}

/* header typing end line */

header .content {
  margin-bottom: 12rem;
}

header {
  position: relative;
  padding-top: 2rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 2rem;
}

header .content h1 {
  color: #dcdcdc;
  margin-bottom: 1rem;
  font-size: 3.5rem;
  font-weight: 700;
  line-height: 5rem;
}

header .image {
  position: relative;
  height: auto;
  margin-bottom: 12rem;
}

@media (max-width: 1024px) {
  header .image img {
    max-width: 23rem;
    bottom: 10rem;
  }
  .img-container .tape {
    right: 11.5rem;
    top: 15rem;
  }
}

@media (max-width: 860px) {
  .img-container .tape {
    right: 28%;
    top: 14rem;
  }
}

@media (max-width: 768px) {
  .img-container .tape {
    right: 19rem;
    top: 14rem;
  }
}

@media (max-width: 660px) {
  .img-container .tape {
    right: 12rem;
    top: 14rem;
  }
}

header .image img {
  margin-bottom: 5rem;
  width: 25rem;
  height: auto;
  margin: auto;
  opacity: 1;
  border-radius: 50%;
}

.img-container {
  position: relative;
}

header .content h1 .dz-blur {
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 1px #dcdcdc;
}

header .content h1 .ffsd-blur {
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 1px #34643c;
  opacity: 0.2;
}

header .content h1 .ffsd-blur:hover {
  opacity: 1;
}

header .content h1 .f-blur {
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 1px #dcdcdc;
  opacity: 0.1;
  animation-duration: 10s;
  animation-name: fades;
}

@keyframes fades {
  50% {
    animation-delay: 6s;
    opacity: 1;
  }
}

header .content h1 .f-blur:hover {
  opacity: 1;
}

header .content h1 .ff-blur {
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 1px #34643c;
  opacity: 0.2;
}

header .content h1 .ff-blur:hover {
  opacity: 1;
}

header .content h1 .ffs-blur {
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 1px #34643c;
  opacity: 0.2;
}

header .content h1 .ffs-blur:hover {
  opacity: 1;
}

/* Project Start line */
.header-projects {
  font-size: 7rem;
  text-align: center;
  color: #dcdcdc;
  position: relative;
  /* text-shadow: 1px 1px 1px #919191, 1px 2px 1px #919191, 1px 3px 1px #919191,
    1px 4px 1px #919191, 1px 5px 1px #919191, 1px 6px 1px #919191,
    1px 7px 1px #919191, 1px 8px 1px #919191, 1px 9px 1px #919191,
    1px 10px 1px #919191, 1px 20px 40px rgba(0, 0, 0, 0.3); */
}
/* .header-projects::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 4px;
  width: 550px;
  background-color: #4cba4c;
  border-radius: 2px;
} */

.scroll1 {
  position: relative;
  min-height: 100vh;
}

.box-grid {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 1rem;
  padding: 3rem;
}
.main-image {
  width: 550px;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2.5rem;
  border: 1px solid white;
  padding: 1rem;
}
.project-content h3 {
  color: #dcdcdc;
  text-align: center;
  font-weight: 700;
}
.project-content p {
  color: #dcdcdc;
  text-align: center;
}
.project-content .image-content {
  display: flex;
  align-items: center;
}

section {
  display: block;
}

@media (max-width: 1750px) {
  .box-grid {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
  .main-image {
    width: 550px;
    height: 200px;
    place-self: center;
  }
}

@media (max-width: 1680px) {
  .box-grid {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
  .main-image {
    width: 500px;
    height: 200px;
    place-self: center;
  }
}

@media (max-width: 1280px) {
  .box-grid {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
  .main-image {
    width: 450px;
    height: 200px;
  }
}
@media (max-width: 1024px) {
  .box-grid {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
  .main-image {
    width: 380px;
    height: 180px;
  }
}
@media (max-width: 990px) {
  .box-grid {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 3rem;
  }
  .main-image {
    width: 360px;
    height: 180px;
  }
}

@media (max-width: 800px) {
  .box-grid {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
  .main-image {
    width: 430px;
    height: 150px;
    place-self: center;
  }
}

@media (max-width: 600px) {
  .header-projects {
    font-size: 6rem;
  }
  .header-projects::after {
    width: 280px;
  }
  .box-grid {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
  .main-image {
    width: 430px;
    height: 150px;
    place-self: center;
  }
}

@media (max-width: 425px) {
  .header-projects {
    font-size: 3.5rem;
  }
  .header-projects::after {
    width: 300px;
  }
  .box-grid {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
  .main-image {
    width: 380px;
    height: 150px;
    place-self: center;
  }
}

@media (max-width: 375px) {
  .header-projects {
    font-size: 3rem;
  }
  .header-projects::after {
    width: 150px;
  }
  .box-grid {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
  .main-image {
    width: 350px;
    height: 150px;
    place-self: center;
  }
}

@media (max-width: 320px) {
  .header-projects {
    font-size: 3rem;
  }
  .header-projects::after {
    width: 150px;
  }
  .box-grid {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
  .main-image {
    width: 300px;
    height: 120px;
    place-self: center;
  }
  .image-content img {
    width: 30px;
  }
}

/* Certficate Slider Start-line */

.header-portfolio {
  font-size: 7rem;
  text-align: center;
  color: #dcdcdc;
  position: relative;
  /* text-shadow: 1px 1px 1px #919191, 1px 2px 1px #919191, 1px 3px 1px #919191,
    1px 4px 1px #919191, 1px 5px 1px #919191, 1px 6px 1px #919191,
    1px 7px 1px #919191, 1px 8px 1px #919191, 1px 9px 1px #919191,
    1px 10px 1px #919191, 1px 20px 40px rgba(0, 0, 0, 0.3); */
}

/* .header-portfolio::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 4px;
  width: 450px;
  background-color: #4cba4c;
  border-radius: 2px;
} */

.slide-content img {
  width: 100%;
  height: 100%;
  border-radius: 0.5rem;
  opacity: 0.9;
}

#slider {
  margin: 0 auto;
  width: 765px;
  max-width: 100%;
}
#slider input[type="radio"] {
  display: none;
}
#slider label {
  cursor: pointer;
  text-decoration: none;
}
#slides {
  position: relative;
  z-index: 1;
}

#overflow {
  width: 100%;
  overflow: hidden;
}
#slide1:checked ~ #slides .inner {
  margin-left: 0;
}
#slide2:checked ~ #slides .inner {
  margin-left: -100%;
}
#slide3:checked ~ #slides .inner {
  margin-left: -200%;
}
#slide4:checked ~ #slides .inner {
  margin-left: -300%;
}
#slide5:checked ~ #slides .inner {
  margin-left: -400%;
}
#slide6:checked ~ #slides .inner {
  margin-left: -500%;
}
#slide7:checked ~ #slides .inner {
  margin-left: -600%;
}
#slide8:checked ~ #slides .inner {
  margin-left: -700%;
}
#slide9:checked ~ #slides .inner {
  margin-left: -800%;
}
#slides .inner {
  transition: margin-left 800ms cubic-bezier(0.77, 0, 0.175, 1);
  width: 900%;
  line-height: 0;
  height: 100%;
  display: flex;
  aspect-ratio: 32/3;
}
#slides .slide {
  width: 25%;
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  color: #fff;
}
#slides .slide_1 .slide-content {
  width: 100%;
  height: 100%;
}
#slides .slide_2 .slide-content {
  width: 100%;
  height: 100%;
}
#slides .slide_3 .slide-content {
  width: 100%;
  height: 100%;
}
#slides .slide_4 .slide-content {
  width: 100%;
  height: 100%;
}
#slides .slide_5 .slide-content {
  width: 100%;
  height: 100%;
}
#slides .slide_6 .slide-content {
  width: 100%;
  height: 100%;
}
#slides .slide_7 .slide-content {
  width: 100%;
  height: 100%;
}
#slides .slide_8 .slide-content {
  width: 100%;
  height: 100%;
}
#slides .slide_9 .slide-content {
  width: 100%;
  height: 100%;
}

#controls {
  margin-top: -180px;
  width: 100%;
  height: 50px;
  z-index: 3;
  position: relative;
}
#controls label {
  transition: opacity 0.2s ease-out;
  display: none;
  width: 50px;
  height: 50px;
  opacity: 0.4;
}
#controls label:hover {
  opacity: 1;
}
#slide1:checked ~ #controls label:nth-child(2),
#slide2:checked ~ #controls label:nth-child(3),
#slide3:checked ~ #controls label:nth-child(4),
#slide4:checked ~ #controls label:nth-child(5),
#slide5:checked ~ #controls label:nth-child(6),
#slide6:checked ~ #controls label:nth-child(7),
#slide7:checked ~ #controls label:nth-child(8),
#slide8:checked ~ #controls label:nth-child(9),
#slide9:checked ~ #controls label:nth-child(1) {
  background: url(images/sortright.png) no-repeat;
  float: right;
  margin-right: -60px;
  margin-top: -120px;
  display: block;
}
#slide1:checked ~ #controls label:nth-last-child(1),
#slide2:checked ~ #controls label:nth-last-child(9),
#slide3:checked ~ #controls label:nth-last-child(8),
#slide4:checked ~ #controls label:nth-last-child(7),
#slide5:checked ~ #controls label:nth-last-child(6),
#slide6:checked ~ #controls label:nth-last-child(5),
#slide7:checked ~ #controls label:nth-last-child(4),
#slide8:checked ~ #controls label:nth-last-child(3),
#slide9:checked ~ #controls label:nth-last-child(2) {
  background: url(images/sortleft.png) no-repeat;
  float: left;
  margin-left: -60px;
  margin-top: -120px;
  display: block;
}
#bullets {
  margin: 150px 0 0;
  text-align: center;
}
#bullets label {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background: #ccc;
  margin: 0 10px;
}
#slide1:checked ~ #bullets label:nth-child(1),
#slide2:checked ~ #bullets label:nth-child(2),
#slide3:checked ~ #bullets label:nth-child(3),
#slide4:checked ~ #bullets label:nth-child(4),
#slide5:checked ~ #bullets label:nth-child(5),
#slide6:checked ~ #bullets label:nth-child(6),
#slide7:checked ~ #bullets label:nth-child(7),
#slide8:checked ~ #bullets label:nth-child(8),
#slide9:checked ~ #bullets label:nth-child(9) {
  background: #444;
}
@media screen and (max-width: 960px) {
  #slide1:checked ~ #controls label:nth-child(2),
  #slide2:checked ~ #controls label:nth-child(3),
  #slide3:checked ~ #controls label:nth-child(4),
  #slide4:checked ~ #controls label:nth-child(5),
  #slide5:checked ~ #controls label:nth-child(6),
  #slide6:checked ~ #controls label:nth-child(7),
  #slide7:checked ~ #controls label:nth-child(8),
  #slide8:checked ~ #controls label:nth-child(9),
  #slide9:checked ~ #controls label:nth-child(1),
  #slide1:checked ~ #controls label:nth-last-child(1),
  #slide2:checked ~ #controls label:nth-last-child(9),
  #slide3:checked ~ #controls label:nth-last-child(8),
  #slide4:checked ~ #controls label:nth-last-child(7),
  #slide5:checked ~ #controls label:nth-last-child(6),
  #slide6:checked ~ #controls label:nth-last-child(5),
  #slide7:checked ~ #controls label:nth-last-child(4),
  #slide8:checked ~ #controls label:nth-last-child(3),
  #slide9:checked ~ #controls label:nth-last-child(2) {
    margin: 0;
  }
  #controls {
    margin-left: auto;
    padding: 1rem;
    bottom: 4rem;
  }

  #slides {
    max-width: calc(100% - 140px);
    margin: 0 auto;
  }
  .header-portfolio {
    font-size: 5rem;
  }
  .header-portfolio::after {
    width: 300px;
  }
}

@media screen and (max-width: 700px) {
  #slide1:checked ~ #controls label:nth-child(2),
  #slide2:checked ~ #controls label:nth-child(3),
  #slide3:checked ~ #controls label:nth-child(4),
  #slide4:checked ~ #controls label:nth-child(5),
  #slide5:checked ~ #controls label:nth-child(6),
  #slide6:checked ~ #controls label:nth-child(7),
  #slide7:checked ~ #controls label:nth-child(8),
  #slide8:checked ~ #controls label:nth-child(9),
  #slide9:checked ~ #controls label:nth-child(1),
  #slide1:checked ~ #controls label:nth-last-child(1),
  #slide2:checked ~ #controls label:nth-last-child(9),
  #slide3:checked ~ #controls label:nth-last-child(8),
  #slide4:checked ~ #controls label:nth-last-child(7),
  #slide5:checked ~ #controls label:nth-last-child(6),
  #slide6:checked ~ #controls label:nth-last-child(5),
  #slide7:checked ~ #controls label:nth-last-child(4),
  #slide8:checked ~ #controls label:nth-last-child(3),
  #slide9:checked ~ #controls label:nth-last-child(2) {
    background-size: 45px;
    margin: 0;
  }
  #controls {
    margin-left: 0.2rem;
    padding: 1rem;
    bottom: 2rem;
  }
}

@media screen and (max-width: 640px) {
  #slide1:checked ~ #controls label:nth-child(2),
  #slide2:checked ~ #controls label:nth-child(3),
  #slide3:checked ~ #controls label:nth-child(4),
  #slide4:checked ~ #controls label:nth-child(5),
  #slide5:checked ~ #controls label:nth-child(6),
  #slide6:checked ~ #controls label:nth-child(7),
  #slide7:checked ~ #controls label:nth-child(8),
  #slide8:checked ~ #controls label:nth-child(9),
  #slide9:checked ~ #controls label:nth-child(1),
  #slide1:checked ~ #controls label:nth-last-child(1),
  #slide2:checked ~ #controls label:nth-last-child(9),
  #slide3:checked ~ #controls label:nth-last-child(8),
  #slide4:checked ~ #controls label:nth-last-child(7),
  #slide5:checked ~ #controls label:nth-last-child(6),
  #slide6:checked ~ #controls label:nth-last-child(5),
  #slide7:checked ~ #controls label:nth-last-child(4),
  #slide8:checked ~ #controls label:nth-last-child(3),
  #slide9:checked ~ #controls label:nth-last-child(2) {
    background-size: 40px;
    margin: 0;
  }
  #controls {
    margin-left: auto;
    padding: 1rem;
    top: 1.5rem;
  }
}
/* Certificate slider end-line */

/* about me css */
.header-about {
  font-size: 7rem;
  margin-top: 380px;
  text-align: center;
  color: #dcdcdc;
  position: relative;
  /* text-shadow: 1px 1px 1px #919191, 1px 2px 1px #919191, 1px 3px 1px #919191,
    1px 4px 1px #919191, 1px 5px 1px #919191, 1px 6px 1px #919191,
    1px 7px 1px #919191, 1px 8px 1px #919191, 1px 9px 1px #919191,
    1px 10px 1px #919191, 1px 20px 40px rgba(0, 0, 0, 0.3); */
}

/* .header-about::after {
  content: "";
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  height: 4px;
  width: 350px;
  background-color: #4cba4c;
  border-radius: 2px;
} */

.text-about {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 3rem auto;
  background: #ede9e8;
  padding: 30px;
  border: 14px solid transparent;
  max-width: 85rem;
  border-radius: 10px;
  box-shadow: 0 1.5rem 3rem -0.75rem hsla(0, 0%, 0%, 0.25);
}

.text-about p {
  font-family: "Inter";
}

@media (max-width: 1280px) {
  .text-about {
    border: 14px solid transparent;
    max-width: 55rem;
  }
  .images-container .tape3 {
    margin-top: 13.9rem;
    margin-right: 3.5rem;
    width: 24rem;
  }
}

@media (max-width: 1024px) {
  .text-about {
    border: 14px solid transparent;
    color: black;
  }
  .images-container .tape3 {
    margin-top: 14rem;
    margin-right: 3rem;
    width: 23rem;
  }
}

@media (max-width: 900px) {
  .text-about {
    border: 14px solid transparent;
    max-width: 40rem;
  }
  .para {
    background: none;
  }
  .text-about .para {
    font-size: 1.2rem;
  }
  .header-about {
    font-size: 5rem;
  }
  .header-about::after {
    width: 300px;
    bottom: 2px;
  }
  .images-container .tape3 {
    margin-top: 16rem;
    margin-right: 2rem;
    width: 23rem;
  }
}

@media (max-width: 660px) {
  .text-about {
    border: 14px solid transparent;
    color: black;
    max-width: 28rem;
  }
  .text-about .para {
    font-size: 1rem;
  }
  .images-container .tape3 {
    margin-top: 18rem;
    margin-right: 4.5rem;
    width: 20rem;
  }
}

.para {
  font-size: 1.3rem;
  font-weight: bold;
}

.images-container {
  position: relative;
}

.div-tape3 img {
  margin-top: 3rem;
  margin-bottom: 10rem;
  width: 27rem;
  rotate: 30deg;
  right: -14rem;
  position: absolute;
  opacity: 1;
}

.div-tape4 {
  max-width: 100%;
  display: contents;
}

.div-tape4 img {
  margin-top: 8rem;
  margin-bottom: 13rem;
  width: 30rem;
  rotate: 30deg;
  right: 68rem;
  position: absolute;
  opacity: 1;
}

/* Teck Stack css */

.inner {
  padding-top: 20px;
}

.head-h1 {
  font-size: 7rem;
  margin-top: 380px;
  text-align: center;
  color: #dcdcdc;
  padding: 1rem;
  position: relative;
  /* text-shadow: 1px 1px 1px #919191, 1px 2px 1px #919191, 1px 3px 1px #919191,
    1px 4px 1px #919191, 1px 5px 1px #919191, 1px 6px 1px #919191,
    1px 7px 1px #919191, 1px 8px 1px #919191, 1px 9px 1px #919191,
    1px 10px 1px #919191, 1px 20px 40px rgba(0, 0, 0, 0.3); */
}

.header-skills h3 {
  margin-top: 18px;
  color: #dcdcdc;
  text-align: center;
  font-size: 20px;
}

/* .head-h1::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 4px;
  width: 600px;
  background-color: #4cba4c;
  border-radius: 2px;
} */

.columns {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 1rem;
  padding: 1rem 80px;
  font-size: 1.2rem;
}

.skill-box {
  padding: 1rem;
  color: #dcdcdc;
  cursor: pointer;
}

.skill-box:hover > .skill-title::after,
.skill-box:hover > .skill-title::before {
  width: 35px;
}

.skill-box:hover .picture {
  transform: translateY(-10px);
}

.skill-title {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
}

.skill-title::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 50%;
  width: 0;
  height: 4px;
  border-radius: 2px 0 0 2px;
  background-color: #4cba4c;
  transition: 0.5s;
}

.skill-title::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 4px;
  border-radius: 0 2px 2px 0;
  background-color: #4cba4c;
  transition: 0.5s;
}

.picture {
  width: 110px;
  height: 110px;
  position: relative;
  border-radius: 45%;
  background: #dcdcdc;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
}

.picture::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 110px;
  background: rgba(100, 100, 100, 0.5);
  border-radius: 50px 5px 5px 50px;
}

.skill-title h3 {
  color: #dcdcdc;
  margin: 0.5rem;
  font-size: 1rem;
}

.skill-icon {
  width: 50px;
  z-index: 2;
}
@media (max-width: 1280px) {
  .columns {
    grid-template-columns: repeat(4, 1fr);
  }
  .head-h1 {
    font-size: 5.5rem;
  }
  .head-h1::after {
    width: 400px;
  }
}
@media (max-width: 1024px) {
  .columns {
    grid-template-columns: repeat(3, 1fr);
  }
  .head-h1 {
    font-size: 5.5rem;
  }

  .head-h1::after {
    width: 400px;
  }
}
@media (max-width: 990px) {
  .columns {
    grid-template-columns: repeat(3, 1fr);
  }
  .head-h1 {
    font-size: 5.5rem;
  }
  .head-h1::after {
    width: 400px;
  }
}

@media (max-width: 600px) {
  .columns {
    grid-template-columns: repeat(2, 1fr);
  }
  .head-h1 {
    font-size: 5rem;
  }

  .head-h1::after {
    width: 400px;
  }
}

/* Tech Stack css endline */

/* Hobbies css */
.hobbies-games h2 {
  margin-top: 17rem;
  color: #dcdcdc;
  font-size: 4rem;
  text-align: center;
}

.hobbies-games p {
  color: #dcdcdc;
  font-size: 1rem;
  text-align: center;
}

.hobbies-title h2 {
  margin-top: 4rem;
  color: #dcdcdc;
  font-size: 4rem;
  text-align: center;
}

.hobbies-title p {
  color: #dcdcdc;
  font-size: 1rem;
  text-align: center;
}

.header-hobbies {
  margin-top: 25rem;
  font-size: 5rem;
  text-align: center;
  color: #dcdcdc;
  /* text-shadow: 1px 1px 1px #919191, 1px 2px 1px #919191, 1px 3px 1px #919191,
    1px 4px 1px #919191, 1px 5px 1px #919191, 1px 6px 1px #919191,
    1px 7px 1px #919191, 1px 8px 1px #919191, 1px 9px 1px #919191,
    1px 10px 1px #919191, 1px 20px 40px rgba(0, 0, 0, 0.3); */
  position: relative;
}
/* 
.header-hobbies::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 4px;
  width: 300px;
  background-color: #4cba4c;
  border-radius: 2px;
} */

.dimage {
  width: 100%;
  display: flex;
  aspect-ratio: 12/12;
}

.blocks h3 {
  color: #dcdcdc;
}

.blocks p {
  color: #dcdcdc;
}

.blocks {
  position: relative;
  display: flex;
  align-content: center;
  justify-content: center;
  margin-top: 20px;

  .block {
    position: relative;
    display: block;
    width: 200px;
    height: 200px;
    margin: 20px;
    transform: perspective(600px) rotateY(-30deg);
    transition: transform 0.3s;

    .block img {
      width: auto;
      max-width: 100%;
    }

    .overlay {
      position: fixed;
      display: flex;
      align-items: center;
      justify-content: center;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 2;
      background-color: rgba(0, 0, 0, 0.5);
      opacity: 0;
      transition: opacity 0.3s ease;
      -webkit-transform: translate3d(0, 0, 0);

      .overlay img {
        width: auto;
        max-width: 50%;
      }
    }

    &.hover,
    &:hover {
      transform: rotateY(0);
      cursor: pointer;

      .overlay {
        opacity: 1;
      }
    }
  }
}

@media (max-width: 1280px) {
  .blocks {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    flex-direction: column;
    column-gap: 0.5rem;
    row-gap: 6rem;
  }

  .overlay {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    flex-direction: column;
  }
  .block img {
    width: 80%;
  }
  .overlay img {
    width: 80%;
  }

  .header-hobbies {
    font-size: 4rem;
  }
  .header-hobbies::after {
    width: 270px;
  }
}

@media (max-width: 960px) {
  .blocks {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    flex-direction: column;
    column-gap: 0.5rem;
    row-gap: 6rem;
  }

  .overlay {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    flex-direction: column;
  }
  .block img {
    width: 80%;
  }
  .overlay img {
    width: 80%;
  }

  .header-hobbies {
    font-size: 4rem;
  }
  .header-hobbies::after {
    width: 270px;
  }
}

@media (max-width: 768px) {
  .cover-logo {
    width: 13rem;
  }
  .content .intro {
    font-size: 3rem;
    line-height: 5rem;
  }
  .image img {
    display: none;
  }
  .blocks {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 14rem;
    align-items: center;
    justify-content: center;
    margin-left: 5.2rem;
  }

  .overlay {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    flex-direction: column;
  }
  .block img {
    width: 80%;
  }
  .overlay img {
    width: 80%;
  }
  .blocks h1 {
    color: #dcdcdc;
    font-size: 1.5rem;
  }

  .blocks p {
    color: #dcdcdc;
    font-size: 1rem;
  }
}
/* Hobbies CSS endline */

/* Footer CSS */
footer {
  position: relative;
  gap: 2rem;
  padding: 15px;
}

footer .column img {
  width: 100px;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15px;
  margin-top: 20rem;
}

footer .column p {
  color: #dcdcdc;
  text-align: center;
  margin-bottom: 1rem;
}

footer .column .socials {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

footer .column .socials a {
  color: #dcdcdc;
  border: 1px solid #dcdcdc;
  padding: 5px 10px;
  font-size: 1.25rem;
  border-radius: 100%;
  transition: all 0.3s ease;
}

footer .column .socials a:hover {
  color: #dcdcdc;
  background-color: #34643c;
  border-color: #34643c;
}

footer .column > a {
  display: block;
  color: #dcdcdc;
  margin-bottom: 1rem;
  transition: all 0.3s ease;
}

footer .column > a:hover {
  color: #4cba4c;
}

.copyright {
  max-width: 1200px;
  margin: auto;
  padding: 0;
  color: #dcdcdc;
  font-size: 0.8rem;
  text-align: center;
}

@media (max-width: 900px) {
  .nav-links {
    font-size: 17px;
    padding-left: 0;
    padding-right: 0;
    display: block;
  }
  header {
    grid-template-columns: repeat(1, 1fr);
  }
  header .image {
    grid-area: 1/1/2/2;
  }
  .slider-wrapper {
    grid-template-columns: repeat(2, 1fr);
  }
  .text-about {
    grid-template-columns: repeat(2, 1fr);
  }
  footer {
    grid-template-columns: 1fr 200px;
  }
  .inner {
    grid-template-columns: repeat(2, 1fr);
  }
  .head-h1 {
    font-size: 5rem;
  }
  .head-h1::after {
    width: 300px;
  }
  .block {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .link a::after {
    content: "";
    position: absolute;
    height: 2px;
    width: 0;
    bottom: 0.7rem;
    left: 0;
    background-color: #4cba4c;
    transition: all 0.3s ease;
  }
}

@media (max-width: 660px) {
  header .image::before {
    display: none;
  }
  .slider-wrapper {
    grid-template-columns: repeat(1, 1fr);
  }

  .text-about {
    grid-template-columns: repeat(1, 1fr);
  }

  footer {
    grid-template-columns: 1fr 150px;
  }

  .inner {
    grid-template-columns: repeat(1, 1fr);
  }

  .block {
    grid-template-columns: repeat(1, 1fr);
  }

  .nav-links {
    font-size: 15px;
    display: block;
    padding-left: 0;
    padding-right: 0;
  }

  .link a::after {
    content: "";
    position: absolute;
    height: 2px;
    width: 0;
    bottom: 0.7rem;
    left: 0;
    background-color: #4cba4c;
    transition: all 0.3s ease;
  }
}

@media (max-width: 375px) {
  .cover-logo {
    width: 45%;
  }
  .logo {
    width: 80%;
  }
  .button-30 {
    width: 90%;
    font-size: 0.8rem;
  }
  .nav-links {
    margin-right: 1rem;
    font-size: 0.8rem;
  }
  .content .intro {
    font-size: 2rem;
    line-height: 3rem;
  }
  header .content h1 {
    margin-right: 10rem;
    font-size: 2rem;
    font-weight: 700;
    line-height: 3rem;
    position: relative;
  }
  header .image img {
    margin-bottom: 5rem;
    width: 15rem;
    display: none;
  }
  .header-portfolio {
    font-size: 3rem;
  }
  .header-portfolio::after {
    width: 12rem;
  }
  #controls {
    margin-left: 0.6rem;
    padding: 1rem;
    top: 5rem;
  }
  #slide1:checked ~ #controls label:nth-child(2),
  #slide2:checked ~ #controls label:nth-child(3),
  #slide3:checked ~ #controls label:nth-child(4),
  #slide4:checked ~ #controls label:nth-child(5),
  #slide5:checked ~ #controls label:nth-child(6),
  #slide6:checked ~ #controls label:nth-child(7),
  #slide7:checked ~ #controls label:nth-child(8),
  #slide8:checked ~ #controls label:nth-child(9),
  #slide9:checked ~ #controls label:nth-child(1) {
    background-size: 32px;
  }
  #slide1:checked ~ #controls label:nth-last-child(1),
  #slide2:checked ~ #controls label:nth-last-child(9),
  #slide3:checked ~ #controls label:nth-last-child(8),
  #slide4:checked ~ #controls label:nth-last-child(7),
  #slide5:checked ~ #controls label:nth-last-child(6),
  #slide6:checked ~ #controls label:nth-last-child(5),
  #slide7:checked ~ #controls label:nth-last-child(4),
  #slide8:checked ~ #controls label:nth-last-child(3),
  #slide9:checked ~ #controls label:nth-last-child(2) {
    background-size: 32px;
  }
  .header-about {
    font-size: 3rem;
  }
  .header-about::after {
    width: 10rem;
    top: 4.5rem;
  }
  .images-container .tape3 {
    margin-top: 8.5rem;
    margin-right: 9rem;
    width: 11rem;
  }
  .text-about {
    border: 14px solid transparent;
    max-width: 21rem;
    padding: 10px;
  }
  .para {
    background: none;
  }
  .text-about .para {
    font-size: 0.7rem;
  }
  .head-h1 {
    font-size: 2rem;
  }

  .head-h1::after {
    width: 14rem;
  }
  .header-skills h3 {
    font-size: 1rem;
  }
  .columns {
    grid-template-columns: repeat(1, 1fr);
  }
  .picture {
    width: 90px;
  }

  .picture::after {
    width: 50%;
  }
  .header-hobbies {
    font-size: 2.5rem;
  }
  .header-hobbies::after {
    width: 12rem;
  }
  .hobbies-title h2 {
    font-size: 2.5rem;
  }
  .blocks {
    display: flex;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.5rem;
    row-gap: 4rem;
  }
  .overlay {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .blocks h1 {
    color: #dcdcdc;
    font-size: 1.2rem;
  }

  .blocks p {
    color: #dcdcdc;
    font-size: 0.9rem;
  }
  .block img {
    width: 70%;
  }
  .overlay img {
    width: 70%;
    margin-bottom: 4rem;
  }
}

@media (max-width: 425px) {
  .cover-logo {
    width: 45%;
  }
  .logo {
    width: 80%;
  }
  .button-30 {
    width: 90%;
    font-size: 0.8rem;
  }
  .nav-links {
    margin-right: 2rem;
    font-size: 0.8rem;
  }
  .content .intro {
    font-size: 2rem;
    line-height: 3rem;
  }
  header .content h1 {
    margin-right: 10rem;
    font-size: 2rem;
    font-weight: 700;
    line-height: 3rem;
    position: relative;
  }
  header .image img {
    margin-bottom: 5rem;
    width: 15rem;
    display: none;
  }
  .header-portfolio {
    font-size: 3rem;
  }
  .header-portfolio::after {
    width: 12rem;
  }
  #controls {
    margin-left: 0.6rem;
    padding: 1rem;
    top: 4rem;
  }
  #slide1:checked ~ #controls label:nth-child(2),
  #slide2:checked ~ #controls label:nth-child(3),
  #slide3:checked ~ #controls label:nth-child(4),
  #slide4:checked ~ #controls label:nth-child(5),
  #slide5:checked ~ #controls label:nth-child(6),
  #slide6:checked ~ #controls label:nth-child(7),
  #slide7:checked ~ #controls label:nth-child(8),
  #slide8:checked ~ #controls label:nth-child(9),
  #slide9:checked ~ #controls label:nth-child(1) {
    background-size: 32px;
  }
  #slide1:checked ~ #controls label:nth-last-child(1),
  #slide2:checked ~ #controls label:nth-last-child(9),
  #slide3:checked ~ #controls label:nth-last-child(8),
  #slide4:checked ~ #controls label:nth-last-child(7),
  #slide5:checked ~ #controls label:nth-last-child(6),
  #slide6:checked ~ #controls label:nth-last-child(5),
  #slide7:checked ~ #controls label:nth-last-child(4),
  #slide8:checked ~ #controls label:nth-last-child(3),
  #slide9:checked ~ #controls label:nth-last-child(2) {
    background-size: 32px;
  }
  .header-about {
    font-size: 3rem;
  }
  .header-about::after {
    width: 10rem;
    top: 4.5rem;
  }
  .images-container .tape3 {
    margin-top: 12rem;
    margin-right: 9rem;
    width: 11rem;
  }
  .text-about {
    border: 14px solid transparent;
    max-width: 21rem;
    padding: 10px;
  }
  .para {
    background: none;
  }
  .text-about .para {
    font-size: 0.7rem;
  }
  .head-h1 {
    font-size: 2rem;
  }

  .head-h1::after {
    width: 14rem;
  }
  .header-skills h3 {
    font-size: 1rem;
  }
  .columns {
    grid-template-columns: repeat(1, 1fr);
  }
  .picture {
    width: 90px;
  }

  .picture::after {
    width: 50%;
  }
  .header-hobbies {
    font-size: 2.5rem;
  }
  .header-hobbies::after {
    width: 12rem;
  }
  .hobbies-title h2 {
    font-size: 2.5rem;
  }
  .blocks {
    display: flex;
    grid-template-columns: repeat(1, 1fr);
    gap: 0.5rem;
    margin-right: 2rem;
    row-gap: 4rem;
  }
  .overlay {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .blocks h1 {
    color: #dcdcdc;
    font-size: 1.2rem;
  }

  .blocks p {
    color: #dcdcdc;
    font-size: 0.9rem;
  }
  .block img {
    width: 70%;
  }
  .overlay img {
    width: 70%;
    margin-bottom: 4rem;
  }
}
